<div class="body">
  <div class="row">
    <div class="col-md-7">

      <h1><%= @post.title %></h1>
      <h4>
        Created on: <%= formatted_date(@post.created_at) %> by <%= @post.user.full_name %>

        <div class="tags">
          Tags:
            <% @post.tag_ids.each do |p| %>
              <%= Tag.find(p).name %>,
            <% end %>
        </div>
      </h4>

      <h5> <%= @post.body %> </h5>

      <%= render "options" %>

      <div class="collaborators">
        <%= render "collaborators" %>
      </div>

      <div class="post-info">
        <%= render "info" %>
      </div>

      <div class="button-options">
        <%= render "buttons" %>
      </div>
    </div>

    <div class="col-md-5">
      <div class="comment-form">
        <h3>Submit a comment:</h3>
        <%= render "comments/form" %>
      </div>

      <h2>Comments</h2>
      <div class="comments">
        <%= render "comments/comment" %>
      </div>
    </div>

  </div>
</div>
